body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}
h1,
h2,
strong {
  color: #333;
}
.section-center img {
    box-sizing: border-box;
    margin: 0px 10px 0px 10px;
    width: 55%;
    height: 60%;
}
#fp-nav {
    display:none;
}
#menu {
    display: none;
}
#head, #foot {
    position: fixed;
    z-index: 9;
    background:white;
    /* padding:10px 0px 0px 80px; */
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0,0,0,.15)
}
.btn {
    align-self: center;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: helvetica;
    color: #ffffff;
    font-size: 15px;
    border:none;
    background: #0671b8;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px 6% 0px 0px;
    float: right;
  }
  
  .btn:hover {
    background: #1987cc;
    text-decoration: none;
  }
  .header-mail{
     display: none; 
}
.float-right {
    margin-left: auto;

}
.content-disc li {
    padding-bottom: 10px;
}
.logo {
    font-family: 'Nobile', cursive;
    font-weight: bold;
    color:#446772;
    font-size: 1em;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
#login {
    display: none;
}
.login-image {
    width: 30px;
}
.login-icon {
    margin-left: auto;
    margin-right: 8%;
}
.modalDialog {
    position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
    pointer-events: none;
}
.sign-in {
    display: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 70%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
    background: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column
}
.modal-mail{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    width: 213px;
    margin: 10px 20px
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
.section-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.content-disc {
    display: flex;
    flex-direction: column;
    align-items: center; 
}