.section-center {
    margin: auto;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    /* vertical-align: middle; */
}
.menu ul {
    margin-left: 0px;
    padding-left: 0px;
    
}
.menu li {
    float: right;
}
#header {
    background-color: lightblue;
}
ul {
    text-decoration: none; 
    list-style: none;
    /* text-align: left; */
}
.float-left ul {
    text-align: center;
}
.float-right ul {
    text-align: center;
}
.content-disc {
    /* float: right; */
    width: 35%;
    text-align: center;
    align-self: center;
}
.float-right {
    float:right;
} 
.float-left {
    float: left;
}
body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}
h1,
h2,
strong {
  color: #333;
}
.section-center img {
    box-sizing: border-box;
    margin: 0px 10px 0px 10px;
    width: 60%;
    height: 60%;
}
.logo {
    font-family: 'Kalam', cursive;
    font-size: 40px;
    color:#446772;
    margin-left: -8px;
}
.header-top {
    padding:1% 0% 0% 5%;
}
#head {
    position: fixed;
    z-index: 9;
    background:white;
    padding:10px 0px 0px 80px;
    width: 100%;

}
.btn {
    align-self: center;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: helvetica;
    color: #ffffff;
    font-size: 15px;
    border:none;
    background: #0671b8;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 20px 6% 0px 0px;
  }
  
  .btn:hover {
    background: #1987cc;
    text-decoration: none;
  }