

.trigger {
    border:none;
    background: #de5021;
    background-image: -webkit-linear-gradient(top, #de5021, #e06743);
    background-image: -moz-linear-gradient(top, #de5021, #e06743);
    background-image: -ms-linear-gradient(top, #de5021, #e06743);
    background-image: -o-linear-gradient(top, #de5021, #e06743);
    background-image: linear-gradient(to bottom, #de5021, #e06743);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}
.trigger-container {
    border: 1px solid #ddd6d6;
    padding: 10px 0px 10px 0px;
    background-image: linear-gradient(to bottom, #de5021, #e06743);
}

.trigger-not-active {
    background: #f8f8f8;
    color: #446772;
}
.tab {
    display: flex;
    justify-content: space-between;
    width:60%;
}
.tab-container {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    
}
.content-wide {
    width: 40% !important;
    .price-content {
        padding: 5%;
    }
}
.price-plan {
    border: 1px solid #446772;
    // padding: 10px;
    border-radius: 5px;
    width: 25%;
    height: 100%;
    background-color: #f8f8f8;
    
    .price-header {
        h3 {
            background-color: #446772;
            margin: 0px;
            padding: 10px 0px;
            color: white;
            font-weight: normal;
        }
        h1 {
            margin-bottom: 0px;
            color:#446772;
        }
        p {
            margin-top: 0px;
            color: #446772;
        }
        sup {
            font-size: 60%;
        }

    }
    .price-content {
        h1 {
            color: #446772;
        }
        color: #446772 !important;
    }
}

.hide {
    display: none;
}

