.section-center {
    margin: auto;
    text-align: center;
    width: 80%;
    display: table;
    /* vertical-align: middle; */
}
ul {
    text-decoration: none; 
    list-style: none;
    /* text-align: left; */
}
.content-disc:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; 
}
.float-left ul {
    text-align: center;
}
.float-right ul {
    text-align: center;
}
.content-disc {
    /* float: right; */
    width: 35%;
    /* vertical-align: middle; */
    /* display: inline-block; */
    text-align: center
}
.float-right {
    float:right;
} 
.float-left {
    float: left;
}
body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
}
img {
    box-sizing: border-box;
    margin: 0px 10px 0px 10px;
    width: 60%;
}