#menu-modal, #openMenu {
    display: none;
}
#ok-icon, #error-icon {
    img {
        height: 30px;
    }
    font-size: 70%;
    color: #b9dfbd;
    display: none;
}
.subheader {
    font-size: 130%;
}
.address {
    margin-top: 5%;
    font-weight: bold;
}