#menu-modal, #openMenu {
    display: none;
}
#ok-icon, #error-icon {
    img {
        height: 30px;
    }
    font-size: 70%;
    color: #b9dfbd;
    display: none;
}
.subheader {
    font-size: 130%;
}
.address {
    margin-top: 5%;
    font-weight: bold;
}
.price-plan {
    border: 1px solid #446772;
    // padding: 10px;
    border-radius: 5px;
    width: 32%;
    height: 100%;
    background-color: #f8f8f8;
    .price-header {
        h3 {
            background-color: #446772;
            margin: 0px;
            padding: 10px 0px;
            color: white;
            font-weight: normal;
        }
        h1 {
            margin-bottom: 0px;
            color:#446772;
        }
        p {
            margin-top: 0px;
            color: #446772;
        }
        sup {
            font-size: 60%;
        }

    }
    .price-content {
        h1 {
            color: #446772;
            margin-bottom: 0px;
            font-size: 2em;
        }
        color: #85999f !important;
    }
}