@media (min-width:700px) and (max-width: 1450px) {
    

.trigger {
  border:none;
  background: #de5021;
  background-image: -webkit-linear-gradient(top, #de5021, #e06743);
  background-image: -moz-linear-gradient(top, #de5021, #e06743);
  background-image: -ms-linear-gradient(top, #de5021, #e06743);
  background-image: -o-linear-gradient(top, #de5021, #e06743);
  background-image: linear-gradient(to bottom, #de5021, #e06743);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  font-size: 15px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}
.trigger-container {
  border: 1px solid #ddd6d6;
  padding: 9px 0px 9px 0px;
  background-image: linear-gradient(to bottom, #de5021, #e06743);
}

.trigger-not-active {
  background: #f8f8f8;
  color: #446772;
}
.tab {
  display: flex;
  justify-content: space-between;
  width:60%;
}
.tab-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  
}
.content-wide {
  width: 40% !important;
  .price-content {
      padding: 5%;
  }
}
#price-page {
  td, th {
      border: 1px solid #ebebeb;
      padding: 25px 10px;
      width:33%;
      
  }
  th {
      font-weight: normal;
      font-size: 0.8em;
      background-color: #446772;
      color: white; 
  }
  table {
      width: 100%;
      border-collapse: collapse;
      font-size: 15px;
      box-shadow: 0 0 2rem rgba(0,0,0,.1);
  }
}
.hide {
  display: none;
}

.modalBox {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  z-index: 0;
  /* margin: 40px; */
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5);
  top: 0%;
  opacity: 0;
  /* background: white; */
  transition: opacity ;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  textarea {
      width: 100%;
      height: 100%;
      resize: none;
      font-size: 15px;
  }
  .modal-header {
      font-weight: inherit;
      margin-top: 0px;
      border-bottom: 1px solid #de562a;
      margin-bottom: 20px;
      font-size: 30px;
  }
  .modal-content {
      padding: 30px;
      opacity: 1;
      background: rgba(255, 255, 255, 1);
      width:30%;
      input[type=text],  input[type=email],input[type=tel],select,textarea {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          font-size: 15px;
          // border-radius: 4px;
          box-sizing: border-box;
      }
      .radio-wrap {
          label {
              cursor: pointer;
          }
          input:checked + label {
              color:#de5021;
              // text-decoration: underline;
              // text-decoration-style: dotted;
          }
          // input:not(:checked) + label {
          //     // color:#de5021;
          //     text-decoration: underline;
          //     text-decoration-style: dotted;
          // }
          [type="checkbox"]:not(:checked),
          [type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
          }
          [type="checkbox"]:not(:checked) + label,
          [type="checkbox"]:checked + label {
            position: relative;
            padding-left: 1.95em;
            cursor: pointer;
          }
          
          /* checkbox aspect */
          [type="checkbox"]:not(:checked) + label:before,
          [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0; top: 0;
            width: 1em; height: 1em;
            border: 2px solid #ccc;
            background: #fff;
          //   border-radius: 4px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
          }
          /* checked mark aspect */
          [type="checkbox"]:not(:checked) + label:after,
          [type="checkbox"]:checked + label:after {
            content: '✔';
            position: absolute;
            top: .1em; left: .3em;
            font-size: 1em;
            line-height: 0.8;
            color: #de5021;
            transition: all .2s;
          }
          /* checked mark aspect changes */
          [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
          }
          [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
          }
          /* disabled checkbox */
          [type="checkbox"]:disabled:not(:checked) + label:before,
          [type="checkbox"]:disabled:checked + label:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
          }
          [type="checkbox"]:disabled:checked + label:after {
            color: #999;
          }
          [type="checkbox"]:disabled + label {
            color: #aaa;
          }
          /* hover style just for information */
          padding: 12px 0px;
          margin: 8px 0;
          
      }
     

      
      // input[type=submit] {
      //     // width: 100%;
      //     background-color: #de5021;
      //     color: white;
      //     padding: 14px 20px;
      //     margin: 8px 0;
      //     border: none;
      //     border-radius: 4px;
      //     cursor: pointer;
      // }
      
    
  }
}
.modalBox-active {
  opacity: 1;
  z-index: 10;
}
  .section-center {
      margin: auto;
      text-align: center;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* vertical-align: middle; */
  }
  .menu ul {
      margin-left: 0px;
      padding-left: 0px;
      
  }
  /* .fullpage:nth-child(even) .section-center {
      flex-direction: row-reverse;
  } */
  .menu li {
      float: right;
  }
  .only-mobile {
      display: none;
  }
  #header {
      background-color: lightblue;
  }
  ul {
      text-decoration: none; 
      list-style: none;
      padding-left: 0px;
      /* text-align: left; */
  }
  .float-left  {
      text-align: right;
  }
  .float-right {
      text-align: left;
  }
  .content-disc {
      /* float: right; */
      width: 50%;
      align-self: end;
      /* font-size: 20px; */
      text-align: left;
      margin-top: -2%;
  }
  div.reverse {
      flex-direction: row-reverse;
  }
  body {
      font-family: "Helvetica", "Arial", sans-serif;
      line-height: 1.5;
      padding: 4em 1em;
      color: #555;
      font-size: 17px;
  }
  h1,
  h2,
  strong {
  color: #555;
  font-size: 2em;
  line-height: 1.3em;
  }
  .section-center img {
      box-sizing: border-box;
      margin: 0px 10px 0px 10px;
      width: 90%;
      box-shadow: 0 0 65px rgba(0,0,0,0.5);
      border-radius: 5px;
  }
  div.logo {
      display: flex;
      padding: 5px 0px 5px 0px;
  }
  .logo span {
      font-family: 'Nobile', cursive;
      font-weight: bold;
      font-size: 40px;
      /* color:#446772; */
      margin-left: -8px;
  }
  .logo a, .logo a:hover, .logo a:active, .logo a:focus {
      display: inherit;
      color: inherit;
      text-decoration: none;
  }
  .logo img {
      height: 60px;
  }
  .header-top {
      padding:1% 0% 0% 5%;
  }
  video {
      width: 90%;
  }
  #head{
      position: fixed;
      z-index: 9;
      background:white;
      /* padding:10px 0px 0px 80px; */
      width: 100%;
      display: flex;
      font-size: 16px;
      align-items: center;
      justify-content: center;
      box-shadow: 0 1px 1px rgba(0,0,0,.15)

  }
  #head-content {
      display: flex;
      width: 80%;
      justify-content: space-between;
  }
  .btn {
      border:none;
      background: #de5021;
      background-image: -webkit-linear-gradient(top, #de5021, #e06743);
      background-image: -moz-linear-gradient(top, #de5021, #e06743);
      background-image: -ms-linear-gradient(top, #de5021, #e06743);
      background-image: -o-linear-gradient(top, #de5021, #e06743);
      background-image: linear-gradient(to bottom, #de5021, #e06743);
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0px;
      font-family: Arial;
      font-size: 15px;
      color: #ffffff;
      cursor: pointer;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
  }
  .btn-block {
      display: block;
      margin-top: 20px;
  }
  .btn:hover {
      background: #ed6b47;
      background-image: -webkit-linear-gradient(top, #ed6b47, #ff7d59);
      background-image: -moz-linear-gradient(top, #ed6b47, #ff7d59);
      background-image: -ms-linear-gradient(top, #ed6b47, #ff7d59);
      background-image: -o-linear-gradient(top, #ed6b47, #ff7d59);
      background-image: linear-gradient(to bottom, #ed6b47, #ff7d59);
      text-decoration: none;
  }
  input[type="email"]{
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      display: block; 
      width: 100%;
      padding: 7px;
      border: none;
      border-bottom: 1px solid #ddd;
      background: transparent;
      margin-bottom: 10px;
      font: 20px Arial, Helvetica, sans-serif;
      height: 45px;
      margin: 10% 0px 0px 0px;
  }

  .content-disc li {
      padding-bottom: 10px;
  }
  .sign-in {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 10%;
  }
  #menu li {
      display:inline-block;
      margin: 10px;
      color: #000;
      background:#fff;
      background: rgba(255,255,255, 0.5);
      -webkit-border-radius: 10px; 
              border-radius: 10px; 
  }
  #menu li.active{
      background:#666;
      background: white;
      color:black;
      
  }
  #menu li a{
      text-decoration:none;
      color: #555;
  }
  #menu li a:hover, a:hover, a:focus {
      color: #DE4F20;
  }
  /* #menu li.active {
      box-shadow: 0px 4px 14px #8db0c6;
  }
  #menu li a,
  #menu li.active a{
      padding: 9px 18px;
      display:block;
  } */
  /* #menu li.active a{
      color: #fff;
  } */
  .column {
      width:65%;
  }
  .column-big {
      width: 100%;
  }
  .column-big img {
      box-shadow: none;
  }
  .сolumn-small {
      width: 40%;
  }
  .column-flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .row-disp {
      display: flex;
      justify-content: space-around;
  }
  .info-box {
      width:40%;
      transition: box-shadow .3s;
      text-align: center;
      background-color:rgb(241, 241, 241);
      padding: 20px;
      /* box-shadow: 0 0 65px rgba(105, 104, 104, 0.50); */
      border-radius: 0px;
  
  }
  .info-box:hover {
      box-shadow: 0 0 65px rgba(105, 104, 104, 0.50);
  }
  .info-box h1 {
      /* font-size: 4em */
  }
  .info-btn {
      margin-top: 30px;
  }
  #learnhow {
    .btn {
        margin: 0px;
    }
  }
  #access-page h1, #learnhow h1 {
      margin-bottom:6%;
      /* font-size: 3.5em; */
  }
  .flex-center {
      justify-content: center;
  }
  .content-head {
      display: none;
  }
}